<!DOCTYPE html>
<html lang="en" ng-app="converter">

<head>
	<meta charset="UTF-8">
	<title>Conversor de Moeda</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

	<!-- Scripts-->
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body class="container" ng-controller="ConverterCtrl as ctrl">
	<form name="form" ng-submit="ctrl.result()">
		<div class="jumbotron">
			*
			<input type="text" required ng-model="ctrl.number"> *From:
			<select name="repeatSelect" id="repeatSelect" ng-model="ctrl.selectedCurrency" required="empty">
				<option ng-repeat="(key,value) in ctrl.currency.rates" value="{{key}}" >{{key}}</option>
			</select>
			<span ng-click="ctrl.flipModel()" class="glyphicon glyphicon-resize-horizontal"></span>
			*To:
			<select name="repeatSelect" id="repeatSelect" ng-model="ctrl.selectedCurrency2" required="empty">
				<option ng-repeat="(key,value) in ctrl.currency.rates" value="{{key}}" >{{key}}</option>
			</select>
			<button class="btn btn-primary" type="submit" ng-disabled="!ctrl.selectedCurrency || !ctrl.selectedCurrency2 || !ctrl.number">Exchange</button>
	</form>
	<p ng-show="ctrl.currency2">Result: {{ctrl.currency2 | currency}} </p>

	</div>
</body>

</html>
